.Example {
  display: none;
  background-color: white;
  border-bottom-color: #dfce50;
  border-bottom-style: solid;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.Button {
  color: black;
  background-color: #dfce50;
  border-color: black;
  border-style: solid;
}

@media only screen and (max-width: 990px) {
    .Example {
      display: block;
    }
}
